<!-- Include the boilerplate layout -->
<% layout("layouts/boilerplate") %>

<!-- Page title -->
<h1>All Campgrounds</h1>

<div>
    <!-- Link to the page for adding a new campground -->
    <a href="/campgrounds/new">Add New Campground</a>
</div>

<!-- Loop over all campgrounds and display each one -->
<% for (let campground of campgrounds){%>
    <div class="card" mb-3>
        <div class="row">
            <!-- Display the image of the campground -->
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%= campground.image %>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <!-- Display the title of the campground -->
                    <h5 class="card-title"><%= campground.title %></h5>
                    <!-- Display the description of the campground -->
                    <p class="card-text"><%= campground.description %></p>
                    <!-- Display the location of the campground -->
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <!-- Link to the detail page of the campground -->
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>   
    